html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: white;
}

nav {
  background-color: #111;
  padding: 1.3rem 3.3rem;
}

.button, .product .buyButton, .product .checkout, .product .payment .close {
  padding: 0.5rem;
  margin: 0;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:hover, .product .buyButton:hover, .product .checkout:hover, .product .payment .close:hover {
  background-color: white;
  color: black;
}

.navTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4e4d4d;
  padding: 0.1rem 0.1rem;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  margin: 0.5rem;
}

.searchInput::-webkit-input-placeholder {
  color: lightgray;
}

.searchInput:-ms-input-placeholder {
  color: lightgray;
}

.searchInput::-ms-input-placeholder {
  color: lightgray;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 1.25rem;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 600;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

.menuItem.active {
  font-weight: 900;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-box-shadow: 0 1.5rem 3px -3px purple;
          box-shadow: 0 1.5rem 3px -3px purple;
}

.slider {
  background: url("../img/brick-wall.jpg");
  overflow: hidden;
}

.sliderWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500vw;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.sliderItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.slider .sliderBg {
  position: absolute;
  width: 47rem;
  height: 47rem;
  border-radius: 50%;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  font-size: 4rem;
  z-index: 1;
  font-weight: 900;
  right: 10%;
  text-shadow: 10px 4px #530053;
  -webkit-transition: all 1.6s ease-in-out;
  transition: all 1.6s ease-in-out;
}

.sliderPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  top: 10%;
  font-size: 4rem;
  z-index: 1;
  font-weight: 900;
  left: 10%;
  font-weight: 300;
  text-shadow: 4px 1px whitesmoke;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20%;
}

.slider .buyButton {
  position: absolute;
  top: 10%;
  font-size: 4rem;
  z-index: 1;
  font-weight: 900;
  top: 50%;
  right: 10%;
  font-size: 2rem;
  border: 1px solid gray;
  background-color: black;
  color: white;
}

.slider .buyButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #369e62;
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}

.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}

.sliderItem:nth-child(2) .sliderPrice {
  color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}

.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}

.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}

.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg {
  background-color: #7c7350;
}

.sliderItem:nth-child(5) .sliderPrice {
  color: #7c7350;
}

.features {
  margin-top: -7rem;
  -webkit-clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5rem 3rem;
  background: white;
  color: black;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 23%;
  margin: 0.5rem;
}

.featureImg {
  width: 4rem;
  height: 4rem;
}

.featureTitle {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.featureDesc {
  color: gray;
  min-height: 5rem;
}

.product {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: -6rem;
  -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
  background: whitesmoke;
  color: black;
}

.productImg {
  width: 50%;
}

.productDetails {
  text-align: left;
}

.productTitle {
  font-size: 3rem;
  font-weight: 900;
}

.productDesc {
  font-size: 1.1rem;
  font-weight: 300;
}

.product .colors div {
  display: inline-block;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.product .colors .black {
  background-color: black;
}

.product .colors .blue {
  background-color: blue;
}

.product .buyButton {
  float: left;
  margin: 1rem 0;
}

.product .sizes {
  margin-top: 0.5rem;
}

.product .sizes div {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin-right: 0.6rem;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid black;
}

.product .sizes div.active {
  border: 1px solid white;
  color: white;
  background-color: purple;
}

.product .checkout {
  font-weight: 600;
  float: right;
  margin: 0.5rem;
}

.product .payment {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -1px 2px 20px 25px rgba(0, 0, 0, 0.81);
          box-shadow: -1px 2px 20px 25px rgba(0, 0, 0, 0.81);
  background: white;
  position: absolute;
  width: 20rem;
  margin: 15rem;
  padding: 2rem;
}

.product .payment h2 {
  font-size: 1.3rem;
  font-weight: 900;
}

.product .payment label {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.product .payment input {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 300;
}

.product .payment .cardIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.product .payment .cardIcons img {
  width: 3rem;
}

.product .payment .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 1rem;
  position: absolute;
  top: 10px;
  right: 10px;
}
/*# sourceMappingURL=styles.css.map */