body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: white;
}

nav {
  background-color: #111;
  padding: 1.3rem 3.3rem;
}

$sliderColors: #369e62, rebeccapurple, teal, cornflowerblue, #7c7350;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  padding: 0.8rem 1.2rem;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
  }
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(78, 77, 77);
  padding: 0.1rem 0.1rem;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  margin: 0.5rem;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 1.25rem;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  @include flexCenter;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 600;
  transition: all 1.5s ease-out;
}

.menuItem.active {
  font-weight: 900;
  transform: scale(1.3, 1.3);
  transition: all 1s ease-out;
  box-shadow: 0 1.5rem 3px -3px purple;
}

.slider {
  background: url('../img/brick-wall.jpg');
  overflow: hidden;

  &Wrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
  }

  &Item {
    @include flexCenter;
    width: 100vw;
    position: relative;
    z-index: 0;
  }

  .sliderBg {
    position: absolute;
    width: 47rem;
    height: 47rem;
    border-radius: 50%;
  }

  @mixin contentStyle {
    position: absolute;
    top: 10%;
    font-size: 4rem;
    z-index: 1;
    font-weight: 900;
  }

  &Img {
    z-index: 1;
  }

  &Title {
    @include contentStyle;
    right: 10%;
    text-shadow: 10px 4px rgb(83, 0, 83);
    transition: all 1.6s ease-in-out;
  }

  &Price {
    @include flexCenter;
    @include contentStyle;
    left: 10%;
    font-weight: 300;
    text-shadow: 4px 1px whitesmoke;
    backdrop-filter: blur(10px);
    border-radius: 20%;
  }

  .buyButton {
    @include contentStyle;
    top: 50%;
    right: 10%;
    font-size: 2rem;
    border: 1px solid gray;
    background-color: black;
    color: white;
    z-index: 1;
    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }
  @each $current-color in $sliderColors {
    $i: index($sliderColors, $current-color);
    &Item:nth-child(#{$i}) {
      .sliderBg {
        background-color: $current-color;
      }
      .sliderPrice {
        color: $current-color;
      }
    }
  }
}

.features {
  margin-top: -7rem;
  clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 100%);
  @include flexCenter;
  padding: 5rem 3rem;
  background: white;
  color: black;
}

.feature {
  @include flexCenter;
  flex-direction: column;
  max-width: 23%;
  margin: 0.5rem;

  &Img {
    width: 4rem;
    height: 4rem;
  }
  &Title {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 900;
  }
  &Desc {
    color: gray;
    min-height: 5rem;
  }
}

.product {
  @include flexCenter;
  margin-top: -6rem;
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 100%);
  background: whitesmoke;
  color: black;
  &Img {
    width: 50%;
  }
  &Details {
    text-align: left;
  }

  &Title {
    font-size: 3rem;
    font-weight: 900;
  }

  &Desc {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .colors {
    div {
      display: inline-block;
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 5px;
      cursor: pointer;
    }
    .black {
      background-color: black;
    }
    .blue {
      background-color: blue;
    }
  }

  .sizes {
    margin-top: 0.5rem;
    div {
      display: inline-block;
      padding: 0.2rem 1rem;
      margin-right: 0.6rem;
      cursor: pointer;
      font-size: 1.2rem;
      border: 1px solid black;
    }
  }

  .button {
    font-weight: 600;
    margin: 1rem;
    float: right;
  }
}
